/* google font css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    font-size: 14px;
}
.btn-tomato{
    color: white;
    background-color: tomato;
    border: 2px solid tomato;
}
.btn-tomato:hover{
    color: tomato;
    background-color: transparent;
    border: 2px solid tomato;
}
.hcard-icon{
    color: tomato;
}
.hcard-detail h6{
    font-size: 13px;
    font-weight: 600;
}
.hcard-detail p{
    font-size: 13px;
    color: #8a8a8a;
    text-align: justify;
}
.card{
    box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.3);
}
.card-link{
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: transform .2s linear;
}
.card-img-top:hover{
    transform: scale(1.05);
    transition: transform .3s linear;
}